In [111]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import requests
import arrow
import seaborn as sns

input_cases = "Resources\CasesbyCounty.xlsx"
input_active_cases = "Resources\ActiveCasesbyCounty.xlsx"
input_deaths = "Resources\FatalitiesbyCounty.xlsx"
input_tests = "Resources\TestsbyCounty.xlsx"

In [126]:
cases = pd.read_excel(input_cases,skiprows=2, na_values = 'NaN')
pattern = r'\n'
cases.columns = cases.columns.str.replace('\r','').str.replace('\n','').str.replace('Cases ','').str.replace('*','').str.replace(' ','')+"-20"
cases.rename(columns={'CountyName-20':'CountyName','Population-20':'Population','07-19-20':'Cumulative Cases'}, inplace=True)
print(list(cases.columns))

['CountyName', 'Population', '03-04-20', '03-05-20', '03-06-20', '03-09-20', '03-10-20', '03-11-20', '03-12-20', '03-13-20', '03-15-20', '03-16-20', '03-17-20', '03-18-20', '03-19-20', '03-20-20', '03-21-20', '03-22-20', '03-23-20', '03-24-20', '03-25-20', '03-26-20', '03-27-20', '03-28-20', '03-29-20', '03-30-20', '03-31-20', '04-01-20', '04-02-20', '04-03-20', '04-04-20', '04-05-20', '04-06-20', '04-07-20', '04-08-20', '04-09-20', '04-10-20', '04-11-20', '04-12-20', '04-13-20', '04-14-20', '04-15-20', '04-16-20', '04-17-20', '04-18-20', '04-19-20', '04-20-20', '04-21-20', '04-22-20', '04-23-20', '04-24-20', '04-25-20', '04-26-20', '04-27-20', '04-28-20', '04-29-20', '04-30-20', '05-01-20', '05-02-20', '05-03-20', '05-04-20', '05-05-20', '05-06-20', '05-07-20', '05-08-20', '05-09-20', '05-10-20', '05-11-20', '05-12-20', '05-13-20', '05-14-20', '05-15-20', '05-16-20', '05-17-20', '05-18-20', '05-19-20', '05-20-20', '05-21-20', '05-22-20', '05-23-20', '05-24-20', '05-25-20', '05-26-20', '05-27-20', '05-28-20', '05-29-20', '05-30-20', '05-31-20', '06-01-20', '06-02-20', '06-03-20', '06-04-20', '06-05-20', '06-06-20', '06-07-20', '06-08-20', '06-09-20', '06-10-20', '06-11-20', '06-12-20', '06-13-20', '06-14-20', '06-15-20', '06-16-20', '06-17-20', '06-18-20', '06-19-20', '06-20-20', '06-21-20', '06-22-20', '06-23-20', '06-24-20', '06-25-20', '06-26-20', '06-27-20', '06-28-20', '06-29-20', '06-30-20', '07-01-20', '07-02-20', '07-03-20', '07-04-20', '07-05-20', '07-06-20', '07-07-20', '07-08-20', '07-09-20', '07-10-20', '07-11-20', '07-12-20', '07-13-20', '07-14-20', '07-15-20', '07-16-20', '07-17-20', '07-18-20', 'Cumulative Cases']

In [113]:
latest_date_info = cases[['CountyName','Population','Cumulative Cases']]
latest_date_info.dropna(inplace=True)
latest_date_info = latest_date_info[:-1]
latest_date_info

    CountyName Population  Cumulative Cases
0     Anderson      58199            2017.0
1      Andrews      22269             189.0
2     Angelina      90437            1000.0
3      Aransas      27699              91.0
4       Archer       8344              12.0
..         ...        ...               ...
250     Yoakum       9225              56.0
251      Young      18712              71.0
252     Zapata      14409             113.0
253     Zavala      12682              95.0
254      Total   29677668          325030.0

[255 rows x 3 columns]

In [140]:
fatalities = pd.read_excel(input_deaths,skiprows=2, na_values = 'NaN')
fatalities.columns = fatalities.columns.str.replace('\r','').str.replace('\n','').str.replace('Fatalities ','')+"/20"
fatalities.rename(columns={'County Name/20':'CountyName','07/19/20':'Fatalities'}, inplace=True)
print(list(fatalities.columns))

['CountyName', 'Population/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20', '5/22/20', '5/23/20', '5/24/20', '5/25/20', '5/26/20', '5/27/20', '5/28/20', '5/29/20', '5/30/20', '5/31/20', '06/01/20', '06/02/20', '06/03/20', '06/04/20', '06/05/20', '06/06/20', '06/07/20', '06/08/20', '06/09/20', '06/10/20', '06/11/20', '06/12/20', '06/13/20', '06/14/20', '06/15/20', '06/16/20', '06/17/20', '06/18/20', '06/19/20', '06/20/20', '06/21/20', '06/22/20', '06/23/20', '06/24/20', '06/25/20', '06/26/20', '06/27/20', '06/28/20', '06/29/20', '06/30/20', '07/01/20', '07/02/20', '07/03/20', '07/04/20', '07/05/20', '07/06/20', '07/07/20', '07/08/20', '07/09/20', '07/10/20', '07/11/20', '07/12/20', '07/13/20', '07/14/20', '07/15/20', '07/16/20', '07/17/20', '07/18/20', 'Fatalities']

In [142]:
fatalities_info = fatalities[['CountyName','Fatalities']]

In [146]:
tests = pd.read_excel(input_tests,skiprows=1, na_values = 'NaN')
tests.columns = tests.columns.str.replace('Tests Through ','')+", 2020"
tests.rename(columns={'County, 2020':'CountyName','July 19, 2020':'Num of Tests'}, inplace=True)
print(list(tests.columns))

['CountyName', 'April 21, 2020', 'April 22, 2020', 'April 23, 2020', 'April 24, 2020', 'April 25, 2020', 'April 26, 2020', 'April 27, 2020', 'April 28, 2020', 'April 29, 2020', 'April 30, 2020', 'May 1, 2020', 'May 2, 2020', 'May 3, 2020', 'May 4, 2020', 'May 5*, 2020', 'May 6, 2020', 'May 7, 2020', 'May 8, 2020', 'May 9, 2020', 'May 10, 2020', 'May 11, 2020', 'May 12, 2020', 'May 13, 2020', 'May 14, 2020', 'May 15, 2020', 'May 16, 2020', 'May 17, 2020', 'May 18, 2020', 'May 19, 2020', 'May 20, 2020', 'May 21, 2020', 'May 22, 2020', 'May 23, 2020', 'May 24, 2020', 'May 25, 2020', 'May 26, 2020', 'May 27, 2020', 'May 28, 2020', 'May 29, 2020', 'May 30, 2020', 'May 31, 2020', 'June 1, 2020', 'June 2, 2020', 'June 3, 2020', 'June 4, 2020', 'June 5, 2020', 'June 6, 2020', 'June 7, 2020', 'June 8, 2020', 'June 9, 2020', 'June 10, 2020', 'June 11, 2020', 'June 12, 2020', 'June 13, 2020', 'June 14, 2020', 'June 15, 2020', 'June 16, 2020', 'June 17, 2020', 'June 18, 2020', 'June 19, 2020', 'June 20, 2020', 'June 21, 2020', 'June 22, 2020', 'June 23, 2020', 'June 24, 2020', 'June 25, 2020', 'June 26, 2020', 'June 27, 2020', 'June 28, 2020', 'June 29, 2020', 'June 30, 2020', 'July 1, 2020', 'July 2, 2020', 'July 3, 2020', 'July 4, 2020', 'July 5, 2020', 'July 6, 2020', 'July 7, 2020', 'July 8, 2020', 'July 9, 2020', 'July 10, 2020', 'July 11, 2020', 'July 12, 2020', 'July 13, 2020', 'July 14, 2020', 'July 15, 2020', 'July 16, 2020', 'July 17, 2020', 'July 18, 2020', 'Num of Tests']

In [148]:
tests_info = tests[['CountyName','Num of Tests']]

In [151]:
active_cases = pd.read_excel(input_active_cases,skiprows=2, na_values = 'NaN')
active_cases.columns = active_cases.columns.str.replace('\r','').str.replace('\n','').str.replace('Active Cases ','').str.replace('Active  Cases  ','')+"-20"
active_cases.rename(columns={'County-20':'CountyName','07-19-20':'Active Cases'}, inplace=True)
print(list(active_cases.columns))

['...1-20', 'CountyName', '4-7-20', '4-8-20', '4-9-20', '4-10-20', '4-11-20', '4-12-20', '4-13-20', '4-14-20', '4-15-20', '4-16-20', '4-17-20', '4-18-20', '4-19-20', '4-20-20', '4-21-20', '4-22-20', '4-23-20', '4-24-20', '4-25-20', '4-26-20', '4-27-20', '4-28-20', '4-29-20', '4-30-20', '5-1-20', '5-2-20', '5-3-20', '5-4-20', '5-5-20', '5-6-20', '5-7-20', '5-8-20', '5-9-20', '5-10-20', '5-11-20', '5-12-20', '5-13-20', '5-14-20', '5-15-20', '5-16-20', '5-17-20', '5-18-20', '5-19-20', '5-20-20', '5-21-20', '5-22-20', '5-23-20', '5-24-20', '5-25-20', '5-26-20', '5-27-20', '5-28-20', '5-29-20', '5-30-20', '5-31-20', '6-1-20', '6-2-20', '6-3-20', '6-4-20', '6-5-20', '6-6-20', '06-07-20', '06-08-20', '06-09-20', '06-10-20', '06-11-20', '06-12-20', '06-13-20', '06-14-20', '06-15-20', '06-16-20', '06-17-20', '06-18-20', '06-19-20', '06-20-20', '06-21-20', '06-22-20', '06-23-20', '06-24-20', '06-25-20', '06-26-20', '06-27-20', '06-28-20', '06-29-20', '06-30-20', '07-01-20', '07-02-20', '07-03-20', '07-04-20', '07-05-20', '07-06-20', '07-07-20', '07-08-20', '07-09-20', '07-10-20', '07-11-20', '07-12-20', '07-13-20', '07-14*-20', '07-15-20', '07-16-20', '07-17-20', '07-18-20', 'Active Cases']

In [152]:
active_cases_info = active_cases[['CountyName','Active Cases']]

In [183]:
merge1 = pd.merge(latest_date_info,active_cases_info, on='CountyName')
merge2 = pd.merge(merge1,fatalities_info, on='CountyName')
Covid_info = pd.merge(merge2,tests_info, on='CountyName')
Covid_info['Recoveries'] = Covid_info['Cumulative Cases'] - Covid_info['Active Cases'] - Covid_info['Fatalities']
Covid_info['Recoveries Pct'] = (Covid_info['Recoveries']/Covid_info['Cumulative Cases'])*100
Covid_info

,CountyName,Population,Cumulative Cases,Active Cases,Fatalities,Num of Tests,Recoveries,Recoveries Pct
0,Anderson,58199,2017.0,1917.0,4.0,15888.0,96.0,4.759544
1,Andrews,22269,189.0,108.0,2.0,313.0,79.0,41.798942
2,Angelina,90437,1000.0,587.0,12.0,6294.0,401.0,40.100000
3,Aransas,27699,91.0,55.0,0.0,595.0,36.0,39.560440
4,Archer,8344,12.0,2.0,0.0,126.0,10.0,83.333333
...,...,...,...,...,...,...,...,...
249,Wood,45292,174.0,74.0,5.0,1346.0,95.0,54.597701
250,Yoakum,9225,56.0,19.0,0.0,422.0,37.0,66.071429
251,Young,18712,71.0,16.0,1.0,801.0,54.0,76.056338
252,Zapata,14409,113.0,52.0,1.0,1575.0,60.0,53.097345
253,Zavala,12682,95.0,64.0,0.0,615.0,31.0,32.631579

In [184]:
Covid_info.set_index('CountyName',inplace=True)
Covid_info

,Population,Cumulative Cases,Active Cases,Fatalities,Num of Tests,Recoveries,Recoveries Pct
CountyName,,,,,,,
Anderson,58199,2017.0,1917.0,4.0,15888.0,96.0,4.759544
Andrews,22269,189.0,108.0,2.0,313.0,79.0,41.798942
Angelina,90437,1000.0,587.0,12.0,6294.0,401.0,40.100000
Aransas,27699,91.0,55.0,0.0,595.0,36.0,39.560440
Archer,8344,12.0,2.0,0.0,126.0,10.0,83.333333
...,...,...,...,...,...,...,...
Wood,45292,174.0,74.0,5.0,1346.0,95.0,54.597701
Yoakum,9225,56.0,19.0,0.0,422.0,37.0,66.071429
Young,18712,71.0,16.0,1.0,801.0,54.0,76.056338
Zapata,14409,113.0,52.0,1.0,1575.0,60.0,53.097345
Zavala,12682,95.0,64.0,0.0,615.0,31.0,32.631579

In [186]:
Covid_info.loc(Covid_info['Anderson'])

KeyError: 'Anderson'